<div layout="column" layout-align="stretch stretch">
	<md-card>
		<md-toolbar breakaction="show">
			<span>Events</span>
			<span flex></span>
			<button md-raised-button *ngFor="let t of types" (click)="onSelect(t.value)">
			{{t.label}}
			</button>
			<md-input type="search" #input (keyup)="0" placeholder="Search"></md-input>
			<button md-button class="md-icon-button" >
				<i class="material-icons">search</i>
			</button>
		</md-toolbar>
		<md-card-content>
			<event-list [term]="input.value" [type]="selectedType"></event-list>
		</md-card-content>
	</md-card>
</div>
