<div layout="column" layout-align="stretch stretch">
	<md-card>
		<md-toolbar breakaction="show">
			<span>Events</span>
			<span flex></span>
			<select #moo (change)="type=moo.value" style="width:10%;">
				<option *ngFor="let t of types">{{t.label}}</option>
			</select>
			<md-input type="search" #input (keyup)="term=input.value" placeholder="Search"></md-input>
			<button md-button class="md-icon-button" >
				<i class="material-icons">search</i>
			</button>
		</md-toolbar>
		<md-card-content>
			<md-data-table layout-fill>
				<thead>
				<tr>
					<th class="md-text-cell">Name</th>
					<th class="md-text-cell">Date</th>
					<th class="md-text-cell">Location</th>
					<th class="md-text-cell">Type</th>
				</tr>
				</thead>
				<tbody>
				<tr *ngFor="let event of events | filter: type | search: term" (click)="gotoDetail(event.event_id)">
					<td class="md-text-cell">{{event.name}}</td>
					<td class="md-text-cell">{{event.date | date}}</td>
					<td class="md-text-cell">{{event.location}}</td>
					<td class="md-text-cell">{{event.etype | full}}</td>
				</tr>
				</tbody>
			</md-data-table>
		</md-card-content>
	</md-card>
</div>