<div style="height:100%;" layout="column" layout-align="center center">
	<md-card style="width:33%;">
		<md-toolbar class="primary" style="position:relative;">
			Create a Meeting
		</md-toolbar>
		<md-content>
			<!-- TODO VALIDATION -->
			<form layout="column" layout-align="start start">
				<md-input  placeholder="Date (DD/MM/YYYY)"></md-input>
				<select>
					<option *ngFor="let meeting_type of meeting_types">{{meeting_type | type}}</option>
				</select>
				<md-input placeholder="Meeting Password"></md-input>
			</form>
		</md-content>
		<md-card-actions layout="row" layout-align="end center">
			<button md-raised-button (click)="goBack()">Cancel</button>
			<button submit md-raised-button>Create</button>
		</md-card-actions>
	</md-card>
</div>