:host /deep/ .primary{
	background-color: #8B0000 ;
	color: #FFCC33;
	min-height: 64px;
}

:host /deep/ md-card{
	    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}

md-sidenav{
	min-width: 15%;
}

.layout{
	height: 100%;
}

:host router-outlet + *{
	height: 100%;
}

.navigation{
	position: absolute;
	top: 64px;
	bottom: 0px;
	width: 100%
}

.backdrop{
	background-color: #EDEAB5;
}

.selected {
background-color: #CFD8DC !important;
color: white;
}
md-list-item.selected:hover {
background-color: #BBD8DC !important;
color: white;
}
md-list-item:hover {
color: #607D8B;
background-color: #DDD;
left: .1em;
}