<div style="width:100%" layout="column" layout-align="start center" *ngIf="event">
    <!--card-->
	<md-card style="width:33%;">
		<md-toolbar class="primary" style="position:relative;">
			<button md-button class="md-icon-button" style="color: #FFCC33;" (click)="goBack()">
				<i class="material-icons">arrow_back</i>
			</button>
			{{event.name}}
		</md-toolbar>
		<md-content>
			<md-list>
				<!--date-->
				<md-list-item class="md-2-line">
					<i md-icon [ngClass]="{'md-avatar-icon':index === 1}">event</i>
					<div class="md-list-item-text">
						<h3>{{event.date | date:'short'}}</h3>
						<p>Date and Time</p>
					</div>
				</md-list-item>
				<!--location-->
				<md-list-item class="md-2-line">
					<i md-icon [ngClass]="{'md-avatar-icon':index === 1}">location_on</i>
					<div class="md-list-item-text" [ngClass]="{'md-offset': index == 2 }">
						<h3>{{event.location}}</h3>
						<p>Location</p>
					</div>
				</md-list-item>
				<!--about-->
				<md-list-item class="md-3-line">
					<i md-icon [ngClass]="{'md-avatar-icon':index === 1}">info</i>
						<div class="md-list-item-text">
				          <h3>About</h3>
				          <p>
				            {{event.about}}
				          </p>
				        </div>
				</md-list-item>
				<!--type-->
				<md-list-item class="md-2-line">
					<i md-icon [ngClass]="{'md-avatar-icon':index === 1}">star</i>
					<div class="md-list-item-text">
						<h3>{{event.etype | full}}</h3>
						<p>Type</p>
					</div>
				</md-list-item>
			</md-list>
		</md-content>
	</md-card>
</div>
<div *ngIf="event" layout="column" layout-align="start center">
	<md-card #add>
      	<md-toolbar class="primary" style="position:relative;">
      		<span>Add {{event.name}}</span>
		</md-toolbar>
		<md-card-content>
			<p>Input the number of hours that you were at the event</p>
	      	<form [formGroup]="form">
	      		<md-input #in placeholder="Hours" type="text" formControlName="hours"></md-input>
	      	</form>
	    </md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<button md-raised-button  submit [disabled]="!form.valid">Add</button>
		</md-card-actions>
    </md-card>
</div>