<div class="wrapper" layout="row" layout-align="center center" *ngIf="attendance">
	<md-card>
		<md-toolbar class="primary">GM Password
		</md-toolbar>
		<md-card-content>
			<input [(ngModel)]="attendance.password" placeholder="Password" />
			<textarea [(ngModel)]="attendance.excuse" placeholder="Excuse"></textarea>
		</md-card-content>
		<md-card-actions layout="row" layout-align="end center">
			<button md-raised-button (click)="onSubmit()">Submit</button>
		</md-card-actions>
	</md-card>
</div>