<div style="height:100%;" layout="column" layout-align="center center">
	<md-card style="width:33%;">
		<md-toolbar class="primary" style="position:relative;">
			Create an Event
		</md-toolbar>
		<md-content>
			<!-- TODO VALIDATION -->
			<form layout="column" layout-align="start start">
				<md-input #name placeholder="Name"></md-input>
				<md-input #date placeholder="Date (DD/MM/YYYY)"></md-input>
				<md-input #time placeholder="Time (HH:MM)"></md-input>
				<md-input #location placeholder="Location"></md-input>
				<md-input #duration placeholder="Duration"></md-input>
				<textarea #about placeholder="About"></textarea>
				<select #t>
					<option *ngFor="let type of types">{{type.value}}</option>
				</select>
			</form>
		</md-content>
		<md-card-actions layout="row" layout-align="end center">
			<button md-raised-button (click)="goBack()">Cancel</button>
			<button submit md-raised-button (click)="onSubmit(name.value,date.value,time.value,location.value,duration.value,about.value,t.value)">Create</button>
		</md-card-actions>
	</md-card>
</div>